@import "tailwindcss";

:root {
  box-sizing: border-box;
  --background: hsl(0, 0%, 95%);
  --foreground: hsl(0, 0%, 9%);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --breakpoint-xxxs: 300px;
  --breakpoint-xxs: 370px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
