@import "tailwindcss";

:root {
  box-sizing: border-box;
}

@theme {
  --breakpoint-xxxs: 300px;
  --breakpoint-xxs: 370px;
  --breakpoint-408: 408px;
  --color-dark-5: oklch(20% 0 270);
  --color-dark-0: oklch(0% 0 0);
}

@custom-variant dark (&:where(.dark, .dark *));

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}



.carousel-track-wrap {
  overflow: hidden;
}

.carousel-track {
  display: flex;
  animation: scroll 70s linear infinite; 
}

.carousel-track-wrap:hover .carousel-track {
  animation-play-state: paused;
}

.slide {
  width: 200px; 
  height: 100px;
  flex-shrink: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3520px); 
  }
}

.spin {
  animation-name: my-spin;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.reverse-spin {
  animation-name: my-reverse-spin;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes my-spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes my-reverse-spin {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.fill {
  animation: fill 15s linear infinite;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.my-scale {
  animation: scale 5s linear infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

